.principal{
	background-color: #E56353;
	text-align: center;
	padding: 6rem;
	max-width: 100%;
}
.principal__title{
	color: white;
	font-family: "Raleway";
	font-size: 42px;
	max-width: 100%;
}
.principal__title--strong{
	font-weight: 700;
	text-transform: uppercase;
	max-width: 100%;
}


/*.col-md-7{
	background-color: #FAFAFA;
}
.col-md-5{
	background-color: #707070;
}*/

.logo-navbar{
	max-width: 60%;
	padding-left: 50px;
}
.row__img--history{
	max-width: 100%;
	height: auto;
}
.row__img--tomates{
	width: 100%;
	height: auto;
	margin-left: 14px;
}
.acerca--light{
	background-color: #707070;
	margin-right: 0px;
}
.acerca__title1{
	padding-left: 50px;
	padding-top: 100px;
	color: #FFFFFF;
	font-family: "Raleway";
	font-weight: 700;
}
.acerca__title1--subtitulo{
	padding-left: 50px;
	color: #FFFFFF;
	font-family: "Raleway";
	font-weight: 200;
}
.acerca__title2{
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.acerca__title2--subtitulo{
	padding-top: 40px;
	font-weight: 200;
}


.row__img--persona1{
	display: block;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
    max-width: 100%;
	height: auto;
}
.row__img--persona2{
	display: block;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
    max-width: 100%;
	height: auto;
}
.nosotros__title1{
	padding-top: 140px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.nosotros__title1--subtitulo{
	font-weight: 200;
	padding-right: 60px;
	text-align: justify;
}
.nosotros__title2{
	padding-top: 140px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.nosotros__title2--subtitulo{
	font-weight: 200;
	padding-right: 60px;
	text-align: justify;
}
.principal__title--blog{
	font-weight: 700;
}


.logo__footer{
	max-width: 100%;
	height: auto;
	padding: 50px;
}
.facebook__icon{
	margin: 25px;
}
.instagram__icon{
	margin: 25px;
}
.twitter__icon{
	margin: 25px;
}
.links__sitio ul li{
	text-align: left;
	list-style:none;
	padding-left: 100px;
}

@media (min-width: 300px) and (max-width: 600px){
.principal{
	text-align: center;
	padding: 30px;
}
.nosotros__title1{
	padding: 10px;
}
.nosotros__title1--subtitulo{
	padding-top: 10px;
}
.nosotros__title2{
	padding: 25px;
}
.nosotros__title2--subtitulo{
	padding: 20px;
}
.acerca__title1{
	padding: 10vw;
}
.acerca__title1--subtitulo{
	padding: 10vw;
}
.acerca__title2{
	padding: 10vw;
}
.acerca__title2--subtitulo{
	padding: 10vw;
}
.logo__footer{
	display: none;
}
.facebook__icon{
	margin: 50px;
}
.instagram__icon{
	margin: 50px;
}
.twitter__icon{
	margin: 50px;
}
.links__sitio ul li{
	display: none;
}
}
