.principal{
	background-color: #E56353;
	text-align: center;
	padding: 6rem;
}
.principal__title{
	color: white;
	font-family: "Raleway";
}
.principal__title--strong{
	font-weight: 700;
	text-transform: uppercase;
}
.card-body{
	background-color: #707070;
	font-family: "Raleway";
	text-align: center;
	padding: 3rem;
}


/*.col-md-7{
	background-color: #FAFAFA;
}
.col-md-5{
	background-color: #707070;
}*/
.row__img{
	max-width: 100%;
	height: auto;
}
.seccion2--light{
	background-color: #707070;
}
.seccion2__title1{
	padding-left: 40px;
	padding-top: 20px;
	color: #FFFFFF;
	font-family: "Raleway";
	font-weight: 700;
}
.seccion2__title1--subtitulo{
	padding-left: 40px;
	color: #FFFFFF;
	font-family: "Raleway";
	font-weight: 200;
}
.seccion2__title2{
	padding-left: 40px;
	padding-top: 20px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.seccion2__title2--subtitulo{
	padding-left: 40px;
	font-weight: 200;
}



.row__img--persona1{
	max-width: 100%;
	height: auto;
	padding: 120px;
}
.row__img--persona2{
	max-width: 100%;
	max-height: auto;
	padding: 120px;
}
.seccion3__title1{
	padding-top: 140px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.seccion3__title1--subtitulo{
	font-weight: 200;
	padding-right: 80px;
	text-align: justify;
}
.seccion3__title2{
	padding-top: 140px;
	font-family: "Raleway";
	font-weight: 700;
	color: #686963;
}
.seccion3__title2--subtitulo{
	font-weight: 200;
	padding-right: 80px;
	text-align: justify;
}